{extends file='layout.html'}
{block name=content}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body pb-0">
                <div class="search d-inline-flex mb-3">
                    {if auth('article/add')}
                    <a href="{url}/article/add" class="btn btn-outline-primary align-top"><i class="fas fa-plus"></i>添加</a>
                    {/if}
                    <form method="get" action="{href}" class="form-inline d-none d-md-inline-flex">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ID</div>
                            </div>
                            <input type="number" class="form-control" id="id" name="id" placeholder="文章ID" value="{$id}">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">访问路径</div>
                            </div>
                            <input type="text" class="form-control" id="uri" name="uri" placeholder="文章访问路径" value="{$uri}">
                        </div>
                        <select class="custom-select" name="column_id" id="column_id">
                            <option value="" {if empty($column_id)}selected{/if}>栏目</option>
                            {foreach $columnList as $item}
                            <option value="{$item['id']}" {if $column_id == $item['id']}selected{/if}>{echoLevelStr($item['level'])}{$item['name']}</option>
                            {/foreach}
                        </select>
                        <select class="custom-select" name="status" id="status">
                            <option value="" {if empty($status)}selected{/if}>状态</option>
                            <option value="1" {if $status== 1}selected{/if}>显示</option>
                            <option value="2" {if $status== 2}selected{/if}>隐藏</option>
                        </select>
                        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i>搜索</button>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-center text-nowrap mb-0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>栏目名称</th>
                            <th>栏目类型</th>
                            <th>状态</th>
                            <th>时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $list['data'] as $item}
                        <tr>
                            <th>{$item['id']}</th>
                            <td>{$item['title']}</td>
                            <td>{$item['name']}</td>
                            <td>{if $item['type'] == 1}首页{elseif $item['type'] == 2}数据列表{elseif $item['type'] == 3}单页面{else}第三方链接{/if}</td>
                            <td>{if $item['status'] == 1}显示{else}隐藏{/if}</td>
                            <td>{$item['create_time']}</td>
                            <td>
                                {if auth('article/edit')}
                                <a href="{url}/article/edit?id={$item['id']}" class="btn-article"><i class="fas fa-edit"></i></a>
                                {/if}
                                {if auth('article/delete')}
                                <a href="{url}/article/delete?id={$item['id']}" id="smartyAdminDelete{$item['id']}" class="btn-article text-danger" onclick="return smartyAdminDelete({$item['id']});"><i class="fas fa-trash-alt"></i></a>
                                {/if}
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                {include file='page.html'}
            </div>
        </div>
    </div>
</div>
{include file='modal.html'}
{/block}