{extends file='layout.html'}
{block name=content}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{href}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">适用于百度、搜狗、神马、360、今日头条、Bing站长平台</label>
                        <div>
                            <a href="{url}/sitemap.xml" target="_blank">{url}/sitemap.xml</a>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">适用于google站长平台</label>
                        <div>
                            <a href="{url}/sitemap_google.xml" target="_blank">{url}/sitemap_google.xml</a>
                        </div>
                    </div>
                    <hr/>
                    <div class="mb-3">
                        <label class="form-label d-block">sitemap文章链接</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="type1" value="1" {if config('sitemap.type',1) == 1}checked{/if}>
                            <label class="form-check-label" for="type1">最新</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="type2" value="2" {if config('sitemap.type',1) == 2}checked{/if}>
                            <label class="form-check-label" for="type2">随机</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="num" class="form-label">sitemap最大链接数量</label>
                        <input type="number" class="form-control" id="num" name="num" value="{config('sitemap.num',100)}">
                    </div>
                    <button type="submit" class="btn btn-primary">保存</button>
                </form>
                <div class="alert alert-success mt-3 mb-0" role="alert">
                    清空缓存（页面右上角）后，新的设置才会生效！
                </div>
            </div>
        </div>
    </div>
</div>
{/block}