{extends file='layout.html'}
{block name=content}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body pb-0">
                <div class="search d-inline-flex mb-3">
                    {if auth('admin/add')}
                    <a href="{url}/admin/add" class="btn btn-outline-primary align-top"><i
                            class="fas fa-plus"></i>添加</a>
                    {/if}
                    <form method="get" action="{href}" class="form-inline d-none d-md-inline-flex">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">用户名</div>
                            </div>
                            <input type="text" class="form-control" id="name" name="name" placeholder="用户名" value="{$name}">
                        </div>
                        <select class="custom-select" name="gender" id="gender">
                            <option value="" {if empty($gender)}selected{/if}>性别</option>
                            <option value="1" {if $gender== 1}selected{/if}>男</option>
                            <option value="2" {if $gender== 2}selected{/if}>女</option>
                        </select>
                        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i>搜索</button>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-center text-nowrap mb-0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>性别</th>
                            <th>头像</th>
                            <th>所属组</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $list['data'] as $item}
                        <tr>
                            <th>{$item['id']}</th>
                            <td>{$item['name']}</td>
                            <td>{if $item['gender'] == 0}未知{elseif $item['gender'] == 1}男{else}女{/if}</td>
                            <td>
                                {if !empty($item['avatar'])}
                                <img src="{$item['avatar']}" class="img-fluid" width="32" height="32">
                                {/if}
                            </td>
                            <td>{if $item['auth_group_id'] == 0}超级管理员{else}{$item['auth_group_name']}{/if}</td>
                            <td>{$item['create_time']}</td>
                            <td>{$item['update_time']}</td>
                            <td>{if $item['status'] == 1}正常{else}停用{/if}</td>
                            <td>
                                {if auth('admin/edit')}
                                <a href="{url}/admin/edit?id={$item['id']}" class="btn-link"><i
                                        class="fas fa-edit"></i></a>
                                {/if}
                                {if auth('admin/delete')}
                                <a href="{url}/admin/delete?id={$item['id']}" id="smartyAdminDelete{$item['id']}"
                                   class="btn-link text-danger" onclick="return smartyAdminDelete({$item['id']});"><i
                                        class="fas fa-trash-alt"></i></a>
                                {/if}
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                {include file='page.html'}
            </div>
        </div>
    </div>
</div>
{include file='modal.html'}
{/block}