{extends file='layout.html'}
{block name=content}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{href}?id={$data['id']}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="pid" class="form-label">上级菜单</label>
                        <select class="custom-select" id="pid" name="pid">
                            <option value="0">无</option>
                            {foreach $authRules as $authRule}
                            <option value="{$authRule['id']}" {if $data['pid'] == $authRule['id']}selected="selected"{/if} {if $authRule['is_menu'] != 1}disabled{/if}>{echoLevelStr($authRule['level'])}{$authRule['name']}（{$authRule['sort_num']}）</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">规则名称</label>
                        <input type="text" class="form-control" id="name" name="name" required="required" value="{$data['name']}">
                    </div>
                    <div class="mb-3">
                        <label for="icon" class="form-label">图标</label>
                        <input type="text" class="form-control" id="icon" name="icon" value="{$data['icon']}">
                    </div>
                    <div class="mb-3">
                        <label for="url" class="form-label">链接</label>
                        <input type="text" class="form-control" id="url" name="url" value="{$data['url']}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-block">菜单</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_menu" id="is_menu1" value="1" {if $data['is_menu'] == 1}checked{/if}>
                            <label class="form-check-label" for="is_menu1">是</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_menu" id="is_menu2" value="2" {if $data['is_menu'] == 2}checked{/if}>
                            <label class="form-check-label" for="is_menu2">否</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="sort_num" class="form-label">排序</label>
                        <input type="number" class="form-control" id="sort_num" name="sort_num" value="{$data['sort_num']}" required="required">
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-block">状态</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="status1" value="1" {if $data['status'] == 1}checked{/if}>
                            <label class="form-check-label" for="status1">正常</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="status2" value="2" {if $data['status'] == 2}checked{/if}>
                            <label class="form-check-label" for="status2">停用</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">编辑</button>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}