<!DOCTYPE html>{config_load file="templet.conf"}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{if !empty($title)}{$title}-{/if}{#title#}</title>
    <meta name="keywords" content="{if !empty($keywords)}{$keywords}{else}{#keywords#}{/if}">
    <meta name="description" content="{if !empty($description)}{$description}{else}{#description#}{/if}">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{url}/css/all.min.css" rel="stylesheet">
    <link href="{url}/css/icheck-bootstrap.min.css" rel="stylesheet">
    <link href="{url}/css/adminlte.min.css" rel="stylesheet">
    <link href="{url}/css/smartyadmin.css" rel="stylesheet">
    {block name=css}{/block}
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <div class="container">
            <a href="https://sa.wyzda.com/" class="navbar-brand" title="SmartyCms" target="_blank">
                <span class="brand-text font-weight-light">SmartyCms</span>
            </a>
            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <ul class="navbar-nav dropdown">
                    {foreach $topColumnData as $item}
                    {if !empty($item['children'])}
                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu{$item['id']}" href="{if $item['type'] == 4}{$item['uri']}{else}{url}/{$item['uri']}{/if}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle" title="{$item['name']}">{$item['name']}</a>
                        <ul aria-labelledby="dropdownSubMenu{$item['id']}" class="dropdown-menu border-0 shadow">
                            {foreach $item['children'] as $c}
                            <li>
                                <a href="{if $c['type'] == 4}{$c['uri']}{else}{url}/{$c['uri']}{/if}" class="dropdown-item" title="{$c['name']}"{if $c['target_blank'] == 2} target="_blank"{/if}>{$c['name']}</a>
                            </li>
                            {/foreach}
                        </ul>
                    </li>
                    {else}
                    <li class="nav-item">
                        <a href="{if $item['type'] == 4}{$item['uri']}{else}{url}/{$item['uri']}{/if}" class="nav-link" title="{$item['name']}"{if $item['target_blank'] == 2} target="_blank"{/if}>{$item['name']}</a>
                    </li>
                    {/if}
                    {/foreach}
                </ul>
            </div>
        </div>
    </nav>
    <div class="content-wrapper">
        {block name=content}{/block}
    </div>
    <aside class="control-sidebar control-sidebar-dark"></aside>
    <footer class="main-footer text-center">
        <strong>Copyright &copy; 2020-{date('Y')} <a href="https://sa.wyzda.com/" title="SmartyCms" target="_blank">SmartyCms</a>.</strong> All rights reserved.
    </footer>
</div>
<script src="{url}/js/jquery.min.js"></script>
<script src="{url}/js/bootstrap.bundle.min.js"></script>
<script src="{url}/js/adminlte.min.js"></script>
<div class="d-none">{#js#}</div>
{block name=js}{/block}
</body>
</html>