{extends file='layout.html'}
{block name=content}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{href}?id={$data['id']}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="pid" class="form-label">上级角色</label>
                        <select class="custom-select" id="pid" name="pid">
                            <option value="0">无</option>
                            {foreach $authGroups as $authGroup}
                            <option value="{$authGroup['id']}" {if $data['id'] == $authGroup['id']}disabled="disabled"{/if} {if $data['pid'] == $authGroup['id']}selected="selected"{/if}>{echoLevelStr($authGroup['level'])}{$authGroup['name']}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">角色名</label>
                        <input type="text" class="form-control" id="name" name="name" value="{$data['name']}" required="required">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">菜单规则</label>
                        {foreach $authRules as $authRule}
                        <div class="form-check mt-2 mb-2">
                            <input class="form-check-input smarty-admin-rule-pid{$authRule['pid']} smarty-admin-rule-id{$authRule['id']}" data-id="{$authRule['id']}" data-pid="{$authRule['pid']}" onchange="smartyAdminRule(this,{$authRule['id']},{$authRule['pid']},1)" type="checkbox" name="rules[]" value="{$authRule['id']}" id="check{$authRule['id']}" {if in_array($authRule['id'],$data['rules'])}checked{/if}>
                            <label class="form-check-label" for="check{$authRule['id']}">
                                {echoLevelStr($authRule['level'])}{$authRule['name']}
                            </label>
                        </div>
                        {/foreach}
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-block">状态</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="status1" value="1" {if $data['status'] == 1}checked{/if}>
                            <label class="form-check-label" for="status1">正常</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="status2" value="2" {if $data['status'] == 2}checked{/if}>
                            <label class="form-check-label" for="status2">停用</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">编辑</button>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name=js}
<script src="{url}/js/smartyadmin.min.js"></script>
{/block}