{extends file='web_layout.html'}
{block name=content}
<div class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="m-0">最新文章</h5>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card card-primary card-outline">
                    <div class="card-body pt-0 pb-0">
                        <ul class="list-unstyled">
                            {foreach $newData as $k => $item}
                            <li class="media mb-3 mt-3">
                                {if !empty($item['thumbnail'])}
                                <img width="64" height="64" src="{$item['thumbnail']}" class="mr-3" alt="{$item['title']}">
                                {/if}
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 hang1">
                                        <a class="text-dark" href="{url}/article/{$item['id']}.html" title="{$item['title']}"{if $item['target_blank'] == 2} target="_blank"{/if}>{$item['title']}</a>
                                    </h5>
                                    <p class="text-muted hang2"><small>{$item['description']}</small></p>
                                </div>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                {include file='web/hot.html'}
                {include file='web/random.html'}
                {include file='web/link.html'}
            </div>
        </div>
    </div>
</div>
{/block}