{if !empty($linkData)}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title m-0">友情链接</h5>
    </div>
    <div class="card-body p-0">
        <div class="list-group list-group-flush">
            {foreach $linkData as $item}
            <a href="{$item['url']}" class="list-group-item list-group-item-action hang1 pt-0 pb-0 height48" title="{$item['title']}" target="_blank"{if $item['nofollow'] == 'y'} rel="nofollow"{/if}>{$item['title']}</a>
            {/foreach}
        </div>
    </div>
</div>
{/if}