{extends file='web_layout.html'}
{block name=content}
<div class="content pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        {$content}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name=js}
<script src="{url}/article/click/{$id}.html"></script>
{/block}